<p id="notice"><%= notice %></p>

<p>
  <strong>Trans:</strong>
  <%= @transport.trans %>
</p>

<p>
  <strong>Nump:</strong>
  <%= @transport.nump %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @transport.citizen %>
</p>

<p>
  <strong>User:</strong>
  <%= @transport.user_id %>
</p>

<p>
  <strong>Rdate:</strong>
  <%= @transport.rdate %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @transport.visitor_id %>
</p>

<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
