<h1>Listing num_visitors</h1>

<table>
  <thead>
    <tr>
      <th>Visitor infor</th>
      <th>Numv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @num_visitors.each do |num_visitor| %>
      <tr>
        <td><%= num_visitor.visitor_infor_id %></td>
        <td><%= num_visitor.numv %></td>
        <td><%= link_to 'Show', num_visitor %></td>
        <td><%= link_to 'Edit', edit_num_visitor_path(num_visitor) %></td>
        <td><%= link_to 'Destroy', num_visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Num visitor', new_num_visitor_path %>
