<p id="notice"><%= notice %></p>

<p>
  <strong>Visitor infor:</strong>
  <%= @num_visitor.visitor_infor_id %>
</p>

<p>
  <strong>Numv:</strong>
  <%= @num_visitor.numv %>
</p>

<%= link_to 'Edit', edit_num_visitor_path(@num_visitor) %> |
<%= link_to 'Back', num_visitors_path %>
