


<% -$r =  rand(1000000 .. 9000000) %>

<%= $r %>

<h2>Register New User</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname, autofocus: true %>
    </div>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <br>
    <div class="field">
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize, :prompt => "Select role" %>
    </div>

    <br>
    <div class="controls">

      <%= collection_select(:user,:establishment_id,Establishment.all, :id,:name,{:prompt => 'Select establishment'}) %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
<% end %>

