<%= form_for @swazi_visitor_info, :html => { :class => "form-horizontal swazi_visitor_info" } do |f| %>

    <% if @swazi_visitor_info.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@swazi_visitor_info.errors.count, "error") %> prohibited this swazi_visitor_info from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @swazi_visitor_info.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :place_of_residence, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :place_of_residence, :class => 'form-control' %>
    </div>
    <%= error_span(@swazi_visitor_info[:place_of_residence]) %>
  </div>
  <div class="control-group">
    <%= f.label :visitor_infor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visitor_infor_id, :class => 'form-control' %>
    </div>
    <%= error_span(@swazi_visitor_info[:visitor_infor_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            swazi_visitor_infos_path, :class => 'btn btn-default' %>

<% end %>
