<p id="notice"><%= notice %></p>

<p>
  <strong>Partnership:</strong>
  <%= @partnership.partnership %>
</p>

<p>
  <strong>Nump:</strong>
  <%= @partnership.nump %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @partnership.citizen %>
</p>

<p>
  <strong>User:</strong>
  <%= @partnership.user_id %>
</p>

<p>
  <strong>Rdate:</strong>
  <%= @partnership.rdate %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @partnership.visitor_id %>
</p>

<%= link_to 'Edit', edit_partnership_path(@partnership) %> |
<%= link_to 'Back', partnerships_path %>
