<script>

$(document).on('page:change', function () {
    $('#start_date').datepicker({
         
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        yearRange:  "1900:+0",
        altFormat:  "yy-mm-dd",
        duration:   "fast"
        
    }).datepicker("setDate", "0");
});


$(document).on('page:change', function () {
    $('#end_date').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        yearRange:  "1900:+0",
        altFormat:  "yy-mm-dd",
        duration:   "fast"
    }).datepicker("setDate", "0");
});


</script>

<center><h1>Welcome To STA Survey</h1>

<% @establishment.each do |establishment| %>
<h2 style="color:#78B4F2;"><%= establishment.name %></h2>
<% end %>
</center>


 <% if (current_user && current_user.role == "admin") %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="col-lg-12">

<div class="col-lg-4">
<div class="well">
<h4>Type of visitors </h4>
<%= high_chart("some_id", @chart) %>

<p style="color:#78B4F2;">[ <%= $y.to_i %> ]  individuals
[ <%= $z.to_i  %> ] groups members</p>

</div>
</div>

    
<div class="col-lg-4">
<div class="well">
<h4>Gender</h4>
<%= high_chart("some_id2", @chart2) %>
<p style="color:#78B4F2;">[ <%= $a.to_i %> ] males
[ <%= $b.to_i %> ] females</p>
</div>
</div>

<div class="col-lg-4">
<div class="well">
<h4>Age group</h4>
<%= high_chart("some_id1", @chart1) %>

<p style="color:#78B4F2; font-size:12px;">[ <%= $a1.to_i %> ] -18 [ <%= $a2.to_i %> ] 18-24  [ <%= $a3.to_i %> ] 25-34 [ <%= $a4.to_i %> ] 35-44 [ <%= $a5.to_i %> ] 45-54 [ <%= $a6.to_i %> ] 55-64 [ <%= $a7.to_i %> ] 65+yrs     </p>

</div>
</div>
</div>

<div class="col-lg-12">

<div class="col-lg-12">
<div class="well">
<h4>Arrival by country </h4>
<%= high_chart("some_id33", @chart55) %>

</div>
</div>




</div>

<div class="col-lg-12">

<div class="col-lg-4">
<div class="well">
<h4>Reasons for visit </h4>
<%= high_chart("some_id333", @chart50) %>
<p style="color:#78B4F2;">[ <%= $reas.to_i %> ] Recreaction/leisure
[ <%= $reas2.to_i %> ] Educational [ <%= $reas4.to_i %> ] Research [ <%= $reas6.to_i %> ] Other</p>
</div>
</div>

<div class="col-lg-8">
<div class="well">
<h4>Travel partnership</h4>
<%= high_chart("some_id3331", @chart60) %>
<p style="color:#78B4F2;">[ <%= $pars.to_i %> ] Alone
[ <%= $pars1.to_i %> ] With spouse/partner [ <%= $pars2.to_i %> ] With colleagues [ <%= $pars3.to_i %> ] With friends [ <%= $pars4.to_i %> ] With family [ <%= $pars5.to_i %> ] With children [ <%= $pars6.to_i %> ] With packaged tour [ <%= $pars7.to_i %> ] School tour [ <%= $pars8.to_i %> ] Other</p>
</div>
</div>
<div class="col-lg-8">
<div class="well">
<h4>Mode of transport</h4>
<%= high_chart("some_id33321", @chart61) %>

<p style="color:#78B4F2;">[ <%= $mos.to_i %> ] Personal car
[ <%= $mos1.to_i %> ] Rental car [ <%= $mos2.to_i %> ] Tour bus [ <%= $mos3.to_i %> ] School bus [ <%= $mos4.to_i %> ] Motor bike [ <%= $mos5.to_i %> ] Other</p>

</div>
</div>



<div class="col-lg-4">
<div class="well">

<h4>Arrival by world regions </h4>
<%= high_chart("some_id3", @chart3) %>

<p style="color:#78B4F2;">[ <%= $jk.to_i %> ] Africa
[ <%= $gg.to_i %> ] Asia [ <%= $gg1.to_i %> ] America [ <%= $gg2.to_i %> ] Europe</p>

</div>
</div>
</div>

<% else %>


<div class="col-lg-12">
<div class="col-lg-12">
<div class="well">
<b>Filter by date below</b>

<br><br>

<%= form_tag dashboards_path, method: :get do %>



From : <%=  text_field_tag("start_date") %>

To :

<%= text_field_tag("end_date") %>



<%= button_tag :class => "btn btn-info btn-sm" do  %>
          <i class="fa fa-search">
          </i>
      <% end %>

<% end %>

<%-if(params[:start_date].present?) %> 

<br>
<br>
Search results between <b style="color:#f00;"><%= params[:start_date] %></b>  and  <b style="color:#f00;"><%= params[:end_date] %></b>
<% end %>
</div>
</div>


<div class="col-lg-4">
<div class="well">
<h4 style="color:#78B4F2;">

Type of visitors at <% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %></h4>

<%= high_chart("some_id1", @chart6) %>

<p style="color:#78B4F2;">[ <%= $j.to_i %> ] individuals
[ <%= $k.to_i %> ] group members</p>


</div>
</div>


<div class="col-lg-4">
<div class="well">
<h4 style="color:#78B4F2;"> 
Gender at 
<% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %>

</h4>
<%= high_chart("some_id4", @chart4) %>
<p style="color:#78B4F2;">[ <%= $male.to_i %> ] males
[ <%= $female.to_i %> ] female </p>
</div>
</div>


<div class="col-lg-4">
<div class="well">
<h4 style="color:#78B4F2;">Age group at 

<% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %> 

</h4>
<%= high_chart("some_id5", @chart5) %>
<p style="color:#78B4F2; font-size:12px;">[ <%= $below18.to_i %> ] -18 [ <%= $age18_24.to_i %> ] 18-24  [ <%= $age25_34.to_i %> ] 25-34 [ <%= $age35_44.to_i %> ] 35-44 [ <%= $age45_54.to_i %> ] 45-54 [ <%= $age55_64.to_i %> ] 55-64 [ <%= $age65.to_i %> ] 65+yrs     </p>
</div>
</div>
</div>

<div class="col-lg-12">

<div class="col-lg-6">
<div class="well">
<h4 style="color:#78B4F2;">Reasons for visit at <% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %></h4>
<%= high_chart("some_id523", @chart65) %>
</div>
</div>


<div class="col-lg-6">
<div class="well">
<h4 style="color:#78B4F2;">Travel partnership at <% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %>  </h4>
<%= high_chart("some_id5243", @chart66) %>
</div>
</div>

<div class="col-lg-6">
<div class="well">
<h4 style="color:#78B4F2;">Mode of transport at <% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %> </h4>
<%= high_chart("some_id52443", @chart67) %>
</div>
</div>


<div class="col-lg-6">
<div class="well">
<h4 style="color:#78B4F2;">Visitors from different world regions at <% @establishment.each do |establishment| %>
<%= establishment.name %>
<% end %></h4>
<%= high_chart("some_id3", @chart311) %>
</div>
</div>

</div>

</div>
<% end %>


